* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
    background: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden; 
}

.container {
    background-color: #ffffff; 
    border-radius: 20px; 
    padding: 30px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    max-width: 100%; 
    position: relative; 
    z-index: 1; 
}


h1 {
    text-align: center;
    color: #333; 
    font-size: 24px; 
    margin-bottom: 20px; 
}


.form-group {
    margin-bottom: 20px; 
}


label {
    display: block; 
    margin-bottom: 5px; 
    color: #444; 
    font-size: 14px; 
    border-radius: 5px; 
}


input[type="number"] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
}


input[type="number"]:focus {
    border-color: #007BFF; 
    outline: none; 
}


button {
    width: 100%; 
    padding: 12px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


button:hover {
    background-color: #0056b3; 
}


.message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #28a745; 
}

.message.error {
    color: #dc3545; 
}

